html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#menu {
  position: sticky;
  top: 0px;
  background: #fafafa;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555555;
  margin-bottom: 1em;
}

#menu .title {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.8em;
}

#menu nav ul {
  list-style-type: none;
  margin: 0;
}

#menu nav ul li {
  float: left;
}

#menu nav ul li a {
  display: block;
  color: #0f0f0f;
  text-align: center;
  padding: 0.8em;
  text-decoration: none;
}

#menu nav ul li a:hover {
  color: #215175;
}

#menu p {
  margin: 0;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone {
  border: 2px dashed;
  text-align: center;
  margin: 1em 0 1em 0;
  padding: 0 1em 0 1em;
  background: #ededed;
  font-size: 2em;
}

.file-selector {
  text-align: center;
}

.file-selector > input[type=file] {
  display: none;
}

.file-selector > .file-upload-button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.viewer {
  width: 70%;
}

.viewer ul.tabs {
  display: flex;
  justify-content: center;
}

.viewer ul.tabs > li {
  padding: 0.5em 1em;
}

.viewer ul.tabs > li:hover {
  background-color: #ebebeb;
  cursor: pointer;
  border-radius: 0.3em;
}

.viewer .split {
  display: flex;
}

.viewer .split > .split-half {
  width: 50%;
}

.viewer .message-info {
  background-color: #cccccc;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
}

.viewer ul {
  list-style-type: none;
  padding-left: 16px;
}

.viewer ul.hidden {
  list-style-type: none;
  padding-left: 16px;
}

.viewer li > div {
  margin: 4px 0px 0px 4px;
  padding: 4px 0px 4px 4px;
  border-radius: 8px;
}

.viewer li > div.field {
  background-color: #e5e3e3;
  border: 1px solid black;
}

.viewer li > div.field:hover {
  background-color: #ececec;
}

.viewer li > div.field:has(.enums):hover {
  cursor: pointer;
}

.viewer li > div.component {
  background-color: #e5e3e3;
  border: 1px solid black;
}

.viewer li > div.component:hover {
  background-color: #ececec;
  cursor: pointer;
}

.viewer li > div.group {
  background-color: #e5e3e3;
  border: 1px solid black;
}

.viewer li > div.group:hover {
  background-color: #ececec;
  cursor: pointer;
}

.viewer li > div.sub-list {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.viewer li > div.field > div.enums {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.viewer li > div.field > div.enums > table {
  margin: 0.5em;
}

.viewer li > div.field > div.enums > table > tbody > tr:hover {
  background-color: #c4ccd2;
}

.viewer li > div > span.field {
  font-size: 0.8em;
  padding: 0.15em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  background-color: #a4c0d5;
}

.viewer li > div > span.component {
  font-size: 0.8em;
  padding: 0.15em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  background-color: #aea4d5;
}

.viewer li > div > span.group {
  font-size: 0.8em;
  padding: 0.15em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  background-color: #a4d5cf;
}

.viewer li > div > span.field {
  font-size: 0.8em;
  padding: 0.15em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  background-color: #a4c0d5;
}

.viewer li > div > span.component {
  font-size: 0.8em;
  padding: 0.15em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  background-color: #aea4d5;
}

.viewer li > div > span.required {
  font-size: 0.8em;
  padding: 0.15em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  background-color: #f16767;
}

.viewer li > div span.field-type {
  font-size: 0.8em;
  padding: 0.15em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  background-color: #bbe7f4;
}

.viewer li > div span.enum {
  font-size: 0.8em;
  padding: 0.15em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  background-color: #ccfbb4;
}

.viewer li > div > span.right-side {
  float: right;
  margin-right: 1em;
}

.viewer div.field-details > div.enums > table > thead > tr > th:nth-child(1) {
  width: 10%;
}

.viewer div.field-details > div.enums > table > thead > tr > th:nth-child(2) {
  width: 90%;
}

.viewer div.field-details > div.enums > table > tbody > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewer div.field-details > div.enums > table {
  width: 100%;
  table-layout: fixed;
}

.field-details {
  margin: 1em;
}

.message-selector {
  width: 100%;
  text-align: center;
}
